@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');

body
{
  font-size: 62.5%;

  background: url("/assets/background.jpg");
  background-size: 50% 100%;
  background-repeat: repeat-x;
  background-attachment: fixed;
  max-width: 80rem;
  margin: 0 auto;

  text-align: justify;

  line-height: 1.4;
}

#header
{
  background: #f2f2f2;
  //height: 10rem;
  padding: 2rem;

  //border-bottom: 0.5rem solid;

  img {
    max-height: 15rem;
  }

  a {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    align-items: center;
  }

  #title {
    color: black;
    font-size: 5rem;
    margin: 0;
    flex-basis: 100%;
    font-family: "Prata";
    font-style: italic;
  }
}

main
{
  //display: grid;
  //grid-template-columns: 80% 20%;
  background: #f2f2f2;
}

#content
{
  font-size: 1.4rem;
  background: #f2f2f2;
  padding-top: 0rem;

  padding-left: 6rem;
  padding-right: 6rem;

  color: #333333;

  *:last-child {
    margin-bottom: 0;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: "Prata";
  }

  h1
  {
    color: #111111;
    margin: 0;
    line-height: 1.2;

    text-align: center;
  }

  img
  {
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  a, a:visited
  {
    color: black;
  }

  pre
  {
    overflow: auto;
    font-size: 1rem;
    font-family: monospace;
  }

}

#sidebar
{
  background: #f2f2f2;
  padding-top: 4rem;

  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#footer
{
  height: 3rem;
  background: #3a3a3a;
  color: #b8b8b8;
  display: flex;
  align-items: center;
  justify-content: center;

  p
  {
    text-align: center;
    margin: 0;
    font-size: 1.2rem;
  }
}


